@use '../styles/partials/mixins' as*;
@use '../styles/partials/variables' as*;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400&family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

nav ul li{
    text-transform: uppercase;
    margin-right: 1rem;
    font-size: 0.9rem;
}

.flex{
    display: flex;
}

.margin-right{
    margin-right: 2rem;
}

